<!--<center>
	<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRM1CMw-y_3M9Q_fZVtI03Ysatx2wa2OJld_YdHWy9Mhaxjzy9gUZuwNBlBmuSL6TXq-Me9vGh3FDhl/pubhtml?gid=268391058&amp;single=true&amp;widget=false&amp;headers=false&amp;rm=minimal&amp;chrome=false" width="440" height="188" seamless frameborder="0" allowtransparency="true" style="background: #000000;"></iframe>
</center>-->

<style>

.card {
	flex: 1;
}

.card_title {
	text-align:center;
	margin-bottom:0px;
	font-family: "Gill Sans MT", "Gill Sans", "Gill Sans Std", Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: .9em;
	font-weight: bold;
	padding-top: 10px;
}

.card_content {
	margin-top: 5px;
	padding-top: 0px;
	font-size:8em;
	text-align:center;
	line-height: .8em;
}

</style>
<div  style="display:flex;flex-direction: row;width:100%;">
	<div id="togo" class="card">
		<div class="card_content" style="font-size:8em"></div>
		<div class="card_title" >POUNDS TO GO</div>
	</div>
	<div id="total_loss" class="card">
		<div class="card_content"></div>
		<div class="card_title">TOTAL WEIGHT LOST</div>
	</div>
</div>

<P>

<div id="stats" style="margin-left:auto;margin-right:auto;font-size:.75em;">

</div>


<script type="text/javascript">
function reqListener () {
	var stats = document.getElementById('stats');
	var json = JSON.parse(this.responseText);

	var details = "";

	var count = 0;

	var row = "";
	for (var index in json['feed']['entry']) {
		entry = json['feed']['entry'][index];
		var name = entry['gsx$details']['$t'];
		var value = entry['gsx$value']['$t'];

		if (name == "Pounds to Goal") {
			document.querySelector('#togo .card_content').innerHTML = value;
			continue;
		} else if (name == "Weight Lost (lbs)") {
			document.querySelector('#total_loss .card_content').innerHTML = value;
			continue;
		}
	
		if (count % 2 == 0) {
			if (row == "") {
				row = "<TR>";
			} else {
				details += row + "</TR>";
				row = "<TR>";
			}
		}
		row +=  "<TD style='padding-left:20px'><STRONG>" + name + '</STRONG></TD><TD>' + value + "</TD>";

		count += 1;
	}

	stats.innerHTML = "<center><table>" + details + "</table></center>";

}

var oReq = new XMLHttpRequest();
oReq.addEventListener("load", reqListener);
oReq.open("GET", "https://spreadsheets.google.com/feeds/list/18hLmd6gvFBZafkVkOmR91HDeSkLfCx0BoKp4h0mAlrY/3/public/values?alt=json");
oReq.send();

</script>
